:root {
  --text-color: rgb(0, 0, 0);
  --my-yellow: #ffc000;
  --my-blue: #1943ff;
  --my-blue-2: #0475d1;
  --my-red: #ff0d37;
  --dark-color: #2e2921;
  --light-color: #c0b9a9;
  --section-tri-height: 5em;
  --section-content-width: 70%;
}

body {
  margin: 0;
  padding: 0;
  top: 0;
  background-image: url(./img/downtownHarbor.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: var(--light-color);
  color: var(--dark-color);
  background-position: fixed;
  background-blend-mode: screen;
}

h2 {
  text-decoration: underline;
}
a {
  color: var(--light-color);
}

#classWrapper {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;
  font-size: min(calc(5vw - 0.8em) calc(5vh-0.08em));
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--my-yellow);
  display: flex;
  z-index: 100;
}
.alt {
  background-color: transparent;
}

.logo {
  height: 7em;
  margin-top: auto;
  margin-bottom: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  height: clamp(3em, 10%, 5em);
  margin-top: auto;
  margin-bottom: auto;
  gap: 1em;
  padding: 1em;
  min-width: 30ch;
}

nav a {
  height: 100%;
  text-decoration: none;
  color: var(--dark-color);
}

.navItem {
  height: 3em;
  width: fit-content;
  display: grid;
  place-items: center;
  border: 1px solid;
  padding: 0 0.3em;
}

.spacer {
  min-height: 100vh;
  top: 0;
  display: grid;
  place-items: center;
}

#intro {
  font-size: 2em;
  margin: auto;
  width: fit-content;
  height: fit-content;
  line-height: 2.1em;
}

#mainContent {
  color: var(--light-color);
}

#mainContent section {
  margin: 2em 0;
  position: relative;
  line-height: 2em;
}

.sectionLeft {
  background-color: var(--my-blue-2);
  margin: var(--section-tri-height) 0;
}
.sectionLeft::after {
  height: var(--section-tri-height);
  display: block;
  background-image: url("./img/triangle3.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right;
  top: 100%;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
}
.sectionLeft::before {
  height: var(--section-tri-height);
  top: -5em;
  display: block;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  background-image: url("./img/triangle2.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right;
}

.sectionRight {
  background-color: var(--my-blue);
}
.sectionRight::before {
  position: absolute;
  content: "";
  top: -5em;
  left: 0;
  height: var(--section-tri-height);
  width: 100%;
  background-image: url("./img/triangle1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sectionRight::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  height: var(--section-tri-height);
  width: 100%;
  background-image: url("./img/triangle4.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sectionRight .sectionContent {
  width: var(--section-content-width);
  margin-left: auto;
  margin-right: 2em;
}

.sectionLeft .sectionContent {
  width: var(--section-content-width);
  margin-right: auto;
  margin-left: 2em;
}
.sectionLast {
  padding-top: 1em;
  color: var(--dark-color);
}

#skillsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillSubContainer {
  border: solid 1px;
  border-color: var(--my-blue-2);
  padding: 0.2em 0.7em;
  margin: 0.4em;
  flex-grow: 1;
}

footer {
  width: 100%;
  background-color: var(--dark-color);
  color: var(--light-color);
  margin-top: var(--section-tri-height);
}
